<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>

<h2>Which ingredient do you want to add and how much?</h2>
<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient, collection: Cocktail::INGREDIENT %>
  <%= f.submit %>
<% end %>

<h3>List of ingredients:</h3>
<ul>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>
